:root {
  --branding-color: #e8f4f0;
  --heading-font-family: IBM Plex Serif;
  --default-font-family: Roboto;
  --secondary-color: #3f9c87;
}

.hero {
  padding-top: 112px;
  background: var(--branding-color);
  text-align: center;
  padding-bottom: 218px;
}

h1 {
  font: var(--heading-font-family);
  font-size: 50px;
  font-weight: bold;
}
.hero p {
  font: var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
}
.images p {
  font-size: 30px;
  font: var(--default-font-family);
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}
.featured {
  font: var(--default-font-family);
}
.featured a {
  color: var(--secondary-color);
}
.projects {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
.contact-box {
  background-color: var(--branding-color);
  padding: 30px 60px;
  border-radius: 10px;
  margin: 30px 120px;
  font: var(--default-font-family);
}
.contact-button {
  background-color: var(--secondary-color);
}
h2,
h3 {
  color: #227361;
  font-family: var(--heading-font-family);
  font-size: 50px;
  font-weight: bold;
  margin-top: 143px;
}
.photo {
  width: 463px;
  margin-right: 30px;
  margin-top: 143px;
}
.about-me {
  font-size: 16px;
  line-height: 26px;
  font-family: var(--default-font-family);
  color: #152320;
  opacity: 0.7;
  font-weight: 400;
  width: 463px;
  margin-right: 386px;
  margin-right: 30px;
}
footer a {
  color: var(--secondary-color);
}
.social {
  padding-top: 129px;
  padding-bottom: 128px;
  background: var(--branding-color);
  border-radius: 10px;
}
.social a:hover {
  color: white;
}
.social button {
  background: #ffffff;
  border-radius: 58px;
  display: block;
  margin: 0 auto;
  width: 374px;
  height: 85px;
  padding: 23px 80px;
  font-size: 30px;
  font-weight: 700;
  font-family: var(--heading-font-family);
}
button i {
  color: var(--secondary-color);
}
.social button:hover {
  color: grey;
}
.links {
  font-size: 35px;
}
.my-projects {
  width: 461px;
  height: 461px;
}
.description {
  text-align: center;
}
.my-work {
  display: block;
  margin: 0 auto;
}
